<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thiết Kế Web</title>
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500&family=Roboto:wght@300;400;500&display=swap"
        rel="stylesheet">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>

<body>
    <!-----------------------Header--------------------------->
    <header>
        <div id="header">
            <div class="container-menu">
                <a href="./index.html" class="logo">
                    <img src="./image/logo.png" alt="">
                </a>
                <ul class="main-menu">
                    <li><a href="./index.html">Home</a>
                    </li>
                    <li><a href="./shop.html">Phone</a>
                        <!-- Menu Đa Cấp -->
                        <ul class="child-menu">
                            <div class="children">
                                <h4>Hãng</h4>
                                <li><a href="">Apple</a></li>
                                <li><a href="">Samsung</a></li>
                                <li><a href="">Oppo</a></li>
                                <li><a href="">Xiaome</a></li>
                                <li><a href="">Realmi</a></li>
                                <li><a href="">Vivo</a></li>
                            </div>
                            <div class="children">
                                <h4>Giá</h4>
                                <li><a href="">Từ 2 - 5 triệu</a></li>
                                <li><a href="">Từ 6 - 9 triệu</a></li>
                                <li><a href="">Từ 10 - 25 triệu</a></li>
                                <li><a href="">Từ 25 triệu trở lên</a></li>
                            </div>
                            <div class="children">
                                <h4>Loại</h4>
                                <li><a href="">Android</a></li>
                                <li><a href="">IOS</a></li>
                            </div>
                        </ul>
                    </li>
                    <li><a href="">Laptop</a>
                        <!-- Menu Đa Cấp -->
                        <ul class="child-menu">
                            <div class="children">
                                <h4>Hãng</h4>
                                <li><a href="">Apple</a></li>
                                <li><a href="">MSI</a></li>
                                <li><a href="">HP</a></li>
                                <li><a href="">Dell</a></li>
                                <li><a href="">Linux</a></li>
                            </div>
                            <div class="children">
                                <h4>Giá</h4>
                                <li><a href="">Từ 6 - 9 triệu</a></li>
                                <li><a href="">Từ 10 - 25 triệu</a></li>
                                <li><a href="">Từ 25 triệu trở lên</a></li>
                            </div>
                        </ul>
                    </li>
                    <li><a href="">Information</a>
                    </li>
                    <li><a href="">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="group">
                <div class="search-box">
                    <input type="search" class="search-text" id="" placeholder="Search">
                    <button class="search-btn"><ion-icon name="search-outline"></ion-icon></button>
                </div>
                <div class="cart">
                    <!-- Tạo số lượng sản phẩm trên giỏ hàng -->
                    <a href="giohang.html">
                        <ion-icon name="cart-outline" class="cart-icon"></ion-icon>
                    </a>
                    <span class="num-cart">0</span>
                </div>
                <div class="toggle">
                    <ion-icon class="toggle_menu" name="menu-outline">
                    </ion-icon>
                    <ul class="mobile-menu">
                        <ion-icon class="toggle_close" name="close-outline"></ion-icon>
                        <li><a href="./index.html">Home</a>
                        </li>
                        <li><a href="./shop.html">Phone</a>
                        </li>
                        <li><a href="">Laptop</a>
                        </li>
                        <li><a href="">Information</a>
                        </li>
                        <li><a href="">Contact</a>
                        </li>
                        <div class="container-login_mobile">
                            <a href="./login.html" target="_blank">Đăng Nhập</a>
                            <a href="./form.html" target="_blank">Đăng Ký</a>
                        </div>
                    </ul>
                    <div class="overflow"></div>
                </div>
                <div class="container-login">
                    <a href="./login.html" target="_blank">Đăng Nhập</a>
                    <a href="./form.html" target="_blank">Đăng Ký</a>
                </div>
            </div>
        </div>
    </header>
    <!-----------------------Nav--------------------------->
    <div id="container-wrap">
        <div id="event">
            <div class="box-event">
                <img id="myImg" src="./image/Realme-C55-720-220-720x220.webp" width="1920px" height="355px" alt="">
                <ion-icon onclick="nextImg()" class="next" name="arrow-forward-outline"></ion-icon>
                <ion-icon onclick="prevImg()" class="prev" name="arrow-back-outline"></ion-icon>
                <script src="./js/slideshow.js"></script>
            </div>
        </div>
        <nav>
            <div class="contact">
                <h2><ion-icon name="ribbon-outline"></ion-icon>Khuyến mãi hot</h2>
                <div class="product-main product-iphone">
                    <div class="product">
                        <div class="product-image">
                            <a href="./ctip.html">
                                <img src="./image/iphone-14-pro.png" alt="">
                            </a>
                        </div>
                        <div class="content">
                            <a href="./ctip.html">
                                <h4>Iphone 14 Promax Chính Hãng</h4>
                            </a>
                            <div class="price-list">
                                <div class="price-main">
                                    <span class="price-cut">25</span><sup>đ</sup>
                                    <span class="price">27</span><sup>đ</sup>
                                </div>
                                <p>Giảm Giá 9%</p>
                            </div>
                        </div>
                        <div class="button-buy">
                            <button class="btn_product">
                                Mua Ngay
                            </button>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-image">
                            <a href="./ctip.html">
                                <img src="./image/9_ro_plus.webp" alt="">
                            </a>
                        </div>
                        <div class="content">
                            <a href="./ctip.html">
                                <h4>Realme 9 Pro Plus</h4>
                            </a>
                            <div class="price-list">
                                <div class="price-main">
                                    <span class="price-cut">5</span><sup>đ</sup>
                                    <span class="price">6</span><sup>đ</sup>
                                </div>
                                <p>Giảm Giá 9%</p>
                            </div>
                        </div>
                        <div class="button-buy">
                            <button class="btn_product">
                                Mua Ngay
                            </button>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-image">
                            <a href="./ctip.html">
                                <img src="./image/oppo-a78.webp" alt="">
                            </a>
                        </div>
                        <div class="content">
                            <a href="./ctip.html">
                                <h4>OPPO A78 4G (8GB 256GB)</h4>
                            </a>
                            <div class="price-list">
                                <div class="price-main">
                                    <span class="price-cut">6</span><sup>đ</sup>
                                    <span class="price">6</span><sup>đ</sup>
                                </div>
                                <p>Giảm Giá 9%</p>
                            </div>
                        </div>
                        <div class="button-buy">
                            <button class="btn_product">
                                Mua Ngay
                            </button>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-image">
                            <a href="./ctip.html">
                                <img src="./image/xiaomi-redmi-10-2022.webp" alt="">
                            </a>
                        </div>
                        <div class="content">
                            <a href="./ctip.html">
                                <h4>Xiaomi Redmi 10 2022 4GB-128GB</h4>
                            </a>
                            <div class="price-list">
                                <div class="price-main">
                                    <span class="price-cut">3</span><sup>đ</sup>
                                    <span class="price">4</span><sup>đ</sup>
                                </div>
                                <p>Giảm Giá 9%</p>
                            </div>
                        </div>
                        <div class="button-buy">
                            <button class="btn_product">
                                Mua Ngay
                            </button>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-image">
                            <a href="./ctip.html">
                                <img src="./image/redmi-note-12-pro-4g.webp" alt="">
                            </a>
                        </div>
                        <div class="content">
                            <a href="./ctip.html">
                                <h4>Xiaomi Redmi Note 12 4GB-128GB</h4>
                            </a>
                            <div class="price-list">
                                <div class="price-main">
                                    <span class="price-cut">4</span><sup>đ</sup>
                                    <span class="price">4</span><sup>đ</sup>
                                </div>
                                <p>Giảm Giá 9%</p>
                            </div>
                        </div>
                        <div class="button-buy">
                            <button class="btn_product">
                                Mua Ngay
                            </button>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-image">
                            <a href="./ctip.html">
                                <img src="./image/ss-galaxy-s22.webp" alt="">
                            </a>
                        </div>
                        <div class="content">
                            <a href="./ctip.html">
                                <h4>Samsung Galaxy S22 5G 128GB</h4>
                            </a>
                            <div class="price-list">
                                <div class="price-main">
                                    <span class="price-cut">12</span><sup>đ</sup>
                                    <span class="price">21</span><sup>đ</sup>
                                </div>
                                <p>Giảm Giá 9%</p>
                            </div>
                        </div>
                        <div class="button-buy">
                            <button class="btn_product">
                                Mua Ngay
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sản phẩm Iphone -->
            <div class="contact">
                <h2>Sản Phẩm Iphone Mới Nhất</h2>
                <div class="product-main product-iphone">
                    <div class="product">
                        <div class="product-image">
                            <a href="./ctip.html">
                                <img src="./image/ctsp_iphone1.webp" alt="">
                            </a>
                        </div>
                        <div class="content">
                            <a href="./ctip.html">
                                <h4>Iphone 14 Promax Chính Hãng</h4>
                            </a>
                            <div class="price-list">
                                <div class="price-main">
                                    <span class="price-cut">25</span><sup>đ</sup>
                                    <span class="price">27</span><sup>đ</sup>
                                </div>
                                <p>Giảm Giá 9%</p>
                            </div>
                        </div>
                        <div class="button-buy">
                            <button class="btn_product">
                                Mua Ngay
                            </button>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-image">
                            <a href="./ctip.html">
                                <img src="./image/iphone-14-pro.png" alt="">
                            </a>
                        </div>
                        <div class="content">
                            <a href="./ctip.html">
                                <h4>Iphone 14 Promax Chính Hãng</h4>
                            </a>
                            <div class="price-list">
                                <div class="price-main">
                                    <span class="price-cut">25</span><sup>đ</sup>
                                    <span class="price">27</span><sup>đ</sup>
                                </div>
                                <p>Giảm Giá 9%</p>
                            </div>
                        </div>
                        <div class="button-buy">
                            <button class="btn_product">
                                Mua Ngay
                            </button>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-image">
                            <a href="./ctip.html">
                                <img src="./image/iphone-14-pro.png" alt="">
                            </a>
                        </div>
                        <div class="content">
                            <a href="./ctip.html">
                                <h4>Iphone 14 Promax Chính Hãng</h4>
                            </a>
                            <div class="price-list">
                                <div class="price-main">
                                    <span class="price-cut">25</span><sup>đ</sup>
                                    <span class="price">27</span><sup>đ</sup>
                                </div>
                                <p>Giảm Giá 9%</p>
                            </div>
                        </div>
                        <div class="button-buy">
                            <button class="btn_product">
                                Mua Ngay
                            </button>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-image">
                            <a href="./ctip.html">
                                <img src="./image/iphone-14-pro.png" alt="">
                            </a>
                        </div>
                        <div class="content">
                            <a href="./ctip.html">
                                <h4>Iphone 14 Promax Chính Hãng</h4>
                            </a>
                            <div class="price-list">
                                <div class="price-main">
                                    <span class="price-cut">25</span><sup>đ</sup>
                                    <span class="price">27</span><sup>đ</sup>
                                </div>
                                <p>Giảm Giá 9%</p>
                            </div>
                        </div>
                        <div class="button-buy">
                            <button class="btn_product">
                                Mua Ngay
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sản phẩm Samsung -->
            <div class="contact">
                <h2>Sản Phẩm Samsung Nổi Bật</h2>
                <div class="product-main product-samsung">
                    <div class="product">
                        <div class="product-image">
                            <a href="./ctss.html">
                                <img src="./image/Samsung-Galaxy-a32-5G.png" alt="">
                            </a>
                        </div>
                        <div class="content">
                            <a href="./ctss.html">
                                <h4>SamSung A32 5G Chính Hãng</h4>
                            </a>
                            <div class="price-list">
                                <div class="price-main">
                                    <span class="price-cut">6</span><sup>đ</sup>
                                    <span class="price">7</span><sup>đ</sup>
                                </div>
                                <p>Giảm Giá 6%</p>
                            </div>
                        </div>
                        <div class="button-buy">
                            <button class="btn_product">
                                Mua Ngay
                            </button>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-image">
                            <a href="./ctss.html">
                                <img src="./image/Samsung-Galaxy-a32-5G.png" alt="">
                            </a>
                        </div>
                        <div class="content">
                            <a href="./ctss.html">
                                <h4>SamSung A32 5G Chính Hãng</h4>
                            </a>
                            <div class="price-list">
                                <div class="price-main">
                                    <span class="price-cut">6</span><sup>đ</sup>
                                    <span class="price">7</span><sup>đ</sup>
                                </div>
                                <p>Giảm Giá 6%</p>
                            </div>
                        </div>
                        <div class="button-buy">
                            <button class="btn_product">
                                Mua Ngay
                            </button>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-image">
                            <a href="./ctss.html">
                                <img src="./image/Samsung-Galaxy-a32-5G.png" alt="">
                            </a>
                        </div>
                        <div class="content">
                            <a href="./ctss.html">
                                <h4>SamSung A32 5G Chính Hãng</h4>
                            </a>
                            <div class="price-list">
                                <div class="price-main">
                                    <span class="price-cut">6</span><sup>đ</sup>
                                    <span class="price">7</span><sup>đ</sup>
                                </div>
                                <p>Giảm Giá 6%</p>
                            </div>
                        </div>
                        <div class="button-buy">
                            <button class="btn_product">
                                Mua Ngay
                            </button>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-image">
                            <a href="./ctss.html">
                                <img src="./image/Samsung-Galaxy-a32-5G.png" alt="">
                            </a>
                        </div>
                        <div class="content">
                            <a href="./ctss.html">
                                <h4>SamSung A32 5G Chính Hãng</h4>
                            </a>
                            <div class="price-list">
                                <div class="price-main">
                                    <span class="price-cut">6</span><sup>đ</sup>
                                    <span class="price">7</span><sup>đ</sup>
                                </div>
                                <p>Giảm Giá 6%</p>
                            </div>
                        </div>
                        <div class="button-buy">
                            <button class="btn_product">
                                Mua Ngay
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- sản phẩm laptop -->
            <div class="contact">
                <h2>Sản Phẩm Laptop Mới Nhất</h2>
                <div class="product-main product-samsung">
                    <div class="product">
                        <div class="product-image">
                            <a href="">
                                <img src="./image/msi-gaming-gf63-thin-11.webp" alt="">
                            </a>
                        </div>
                        <div class="content">
                            <a href="">
                                <h4>Laptop MSI Gaming GF63 Thin 11SC-664VN i5</h4>
                            </a>
                            <div class="price-list">
                                <div class="price-main">
                                    <span class="price-cut">14</span><sup>đ</sup>
                                    <span class="price">16</span><sup>đ</sup>
                                </div>
                                <p>Giảm Giá 6%</p>
                            </div>
                        </div>
                        <div class="button-buy">
                            <button class="btn_product">
                                Mua Ngay
                            </button>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-image">
                            <a href="">
                                <img src="./image/asus-vivobook-x515.webp" alt="">
                            </a>
                        </div>
                        <div class="content">
                            <a href="">
                                <h4>Laptop Asus Vivobook X515EA-EJ322W i3-1115G4
                                </h4>
                            </a>
                            <div class="price-list">
                                <div class="price-main">
                                    <span class="price-cut">10</span><sup>đ</sup>
                                    <span class="price">12</span><sup>đ</sup>
                                </div>
                                <p>Giảm Giá 6%</p>
                            </div>
                        </div>
                        <div class="button-buy">
                            <button class="btn_product">
                                Mua Ngay
                            </button>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-image">
                            <a href="">
                                <img src="./image/acer-swift-3-sf314.webp" alt="">
                            </a>
                        </div>
                        <div class="content">
                            <a href="">
                                <h4>Laptop Acer Swift 3 SF314-43-R4X3 R5 5500U</h4>
                            </a>
                            <div class="price-list">
                                <div class="price-main">
                                    <span class="price-cut">14</span><sup>đ</sup>
                                    <span class="price">20</span><sup>đ</sup>
                                </div>
                                <p>Giảm Giá 6%</p>
                            </div>
                        </div>
                        <div class="button-buy">
                            <button class="btn_product">
                                Mua Ngay
                            </button>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-image">
                            <a href="">
                                <img src="./image/asus-vivobook-e1404fa.webp" alt="">
                            </a>
                        </div>
                        <div class="content">
                            <a href="">
                                <h4>Laptop Asus Vivobook E1404FA-NK186W R5-7520U</h4>
                            </a>
                            <div class="price-list">
                                <div class="price-main">
                                    <span class="price-cut">13</span><sup>đ</sup>
                                    <span class="price">14</span><sup>đ</sup>
                                </div>
                                <p>Giảm Giá 6%</p>
                            </div>
                        </div>
                        <div class="button-buy">
                            <button class="btn_product">
                                Mua Ngay
                            </button>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Sản phẩm Ipad
            <div class="contact">
                <h2>Sản Phẩm Tablet Mới Nhất</h2>
                <div class="product-main product-tablet">
                    <div class="product">
                        <div class="product-image">
                            <a href="">
                                <img src="./image/ipad-pro-m1.png"
                                    alt="">
                            </a>
                        </div>
                        <div class="content">
                            <a href="">
                                <h4>iPad Pro M1 11 inch WiFi</h4>
                            </a>
                            <div class="price-list">
                                <div class="price-main">
                                    <span class="price-cut">23</span><sup>đ</sup>
                                    <span class="price">25</span><sup>đ</sup>
                                </div>
                                <p>Giảm Giá 9%</p>
                            </div>
                        </div>
                        <div class="button-buy">
                            <button
                                class="btn_product">
                                Mua Ngay
                            </button>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-image">
                            <a href="">
                                <img src="./image/ipad-pro-m1.png"
                                    alt="">
                            </a>
                        </div>
                        <div class="content">
                            <a href="">
                                <h4>iPad Pro M1 11 inch WiFi</h4>
                            </a>
                            <div class="price-list">
                                <div class="price-main">
                                    <span class="price-cut">23</span><sup>đ</sup>
                                    <span class="price">25</span><sup>đ</sup>
                                </div>
                                <p>Giảm Giá 9%</p>
                            </div>
                        </div>
                        <div class="button-buy">
                            <button
                                class="btn_product">
                                Mua Ngay
                            </button>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-image">
                            <a href="">
                                <img src="./image/ipad-pro-m1.png"
                                    alt="">
                            </a>
                        </div>
                        <div class="content">
                            <a href="">
                                <h4>iPad Pro M1 11 inch WiFi</h4>
                            </a>
                            <div class="price-list">
                                <div class="price-main">
                                    <span class="price-cut">23</span><sup>đ</sup>
                                    <span class="price">25<sup>đ</sup></span>
                                </div>
                                <p>Giảm Giá 9%</p>
                            </div>
                        </div>
                        <div class="button-buy">
                            <button
                                class="btn_product">
                                Mua Ngay
                            </button>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-image">
                            <a href="">
                                <img src="./image/ipad-pro-m1.png"
                                    alt="">
                            </a>
                        </div>
                        <div class="content">
                            <a href="">
                                <h4>iPad Pro M1 11 inch WiFi</h4>
                            </a>
                            <div class="price-list">
                                <div class="price-main">
                                    <span class="price-cut">23<sup>đ</sup></span>
                                    <span class="price">25<sup>đ</sup></span>
                                </div>
                                <p>Giảm Giá 9%</p>
                            </div>
                        </div>
                        <div class="button-buy">
                            <button
                                class="btn_product">
                                Mua Ngay
                            </button>
                        </div>
                    </div>
                </div>
            </div> -->
        </nav>
    </div>

    <!-- Title cuối nav -->
    <div class="the-end">
        <ul class="the-end_menu">
            <li>
                <ion-icon name="checkmark-circle-outline"></ion-icon>
                <span>Mẫu mã đa dạng,
                    chính hãng
                </span>
            </li>
            <li>
                <ion-icon name="car-outline"></ion-icon>
                <span>Giao hàng toàn quốc</span>
            </li>
            <li>
                <ion-icon name="shield-outline"></ion-icon>
                <span>Bảo hảnh 12 tháng</span>
            </li>
            <li>
                <ion-icon name="refresh-outline"></ion-icon>
                <span>Có thể đổi trả,
                    trong thời gian quy định
                </span>
            </li>
        </ul>
    </div>
    <!-----------------------Footer--------------------------->
    <footer>
        <div id="footer-wrap">
            <div id="footer-bottom">
                <div class="ft-bt-main">
                    <div class="ft">
                        <ul class="main-ft">
                            <li><a href="">Thông tin web</a></li>
                            <li><a href="">Chính sách bảo hành</a></li>
                            <li><a href="">Chính sách đổi trả</a></li>
                            <li><a href="">Giao hàng & thanh toán</a></li>
                        </ul>
                    </div>
                    <div class="ft">
                        <ul class="main-ft">
                            <li><a href="">Mua hàng online</a></li>
                            <li><a href="">Hướng dẫn online</a></li>
                            <li><a href="">Hóa đơn</a></li>
                            <li><a href="">Cảnh báo</a></li>
                        </ul>
                    </div>
                    <div class="ft">
                        <ul class="main-ft">
                            <li><a href="">Gọi00</a></li>
                            <li><a href="">Kỹ t00</a></li>
                            <li><a href="">Bảo 00</a></li>
                            <li><a href="">Khiếu00</a></li>
                        </ul>
                    </div>
                    <div class="ft">
                        <ul class="main-ft">
                            <li><ion-icon name="home-outline"></ion-icon><a href="">Ngõ 218, P.Bưởi, Tây Hồ, Hà Nội</a>
                            </li>
                            <li><ion-icon name="call-outline"></ion-icon><a href="">0123456789</a></li>
                            <li><ion-icon name="mail-outline"></ion-icon><a href="">techphone@gmail.com</a></li>
                        </ul>
                        <div class="logo-tt">
                            <a href=""><ion-icon name="logo-facebook"></ion-icon></a>
                            <a href=""><ion-icon name="logo-google"></ion-icon></a>
                            <a href=""><ion-icon name="logo-twitter"></ion-icon></a>
                            <a href=""><ion-icon name="logo-instagram"></ion-icon></a>
                        </div>
                    </div>
                </div>
                <div class="dp_flex__pay">
                    <div class="pay">
                        <img class="item1" src="./image/fjb.png" alt="">
                        <img class="item2" src="./image/foxpay.png" alt="">
                        <img class="item3" src="./image/visa.png" alt="">
                        <img class="item4" src="./image/mastercard.png" alt="">
                        <img class="item5" src="./image/zalopay.png" alt="">
                        <img class="item6" src="./image/vnpay.png" alt="">
                    </div>
                </div>
            </div>
            <div class="lastFoo">
                <div class="content">© 2018. Công ty cổ phần Thế Giới Di Động. GPDKKD: 0303217354 do sở KH & ĐT TP.HCM
                    cấp ngày
                    02/01/2007.
                    Địa chỉ: 128 Trần Quang Khải, P. Tân Định, Q.1, TP. Hồ Chí Minh. Điện thoại: 028 38125960.</div>
            </div>
        </div>
    </footer>

</body>
<script src="./js/product.js"></script>
<script>
    const toggle_menu = document.querySelector(".toggle_menu");
    const toggle_close = document.querySelector(".toggle_close");
    const mobile_menu = document.querySelector(".mobile-menu");
    const overflow = document.querySelector(".overflow");
    toggle_menu.addEventListener("click", () => {
        mobile_menu.style.transform = 'translateX(0)';
        mobile_menu.style.opacity = '1';
        mobile_menu.style.visibility = 'visible';
        overflow.style.display = 'block';
    })
    toggle_close.addEventListener("click", () => {
        mobile_menu.style.transform = 'translateX(100%)';
        mobile_menu.style.opacity = '0';
        mobile_menu.style.visibility = 'hidden';
        overflow.style.display = 'none';
    })
    overflow.addEventListener("click", () => {
        mobile_menu.style.transform = 'translateX(100%)';
        mobile_menu.style.opacity = '0';
        mobile_menu.style.visibility = 'hidden';
        overflow.style.display = 'none';
    })
</script>

</html>